@import "tailwindcss";

:root {
  --background: #0a0a0a;     
  --foreground: #ededed;     
  --greenPantano: #71AA1D;
  --externShadow: 0 0 40px var(--greenPantano);
  --externShadow2: 0 0 40px var(--greenPantano);
  --border-color: rgba(22, 22, 22, 1);
  
  /* Tailwind variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --color-greenPantano: var(--greenPantano);
  --text-shadow-extern: var(--externShadow);
  --text-shadow-extern2: var(--externShadow2);
}

html, body {
  color-scheme: only dark;
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define color compatibility for Samsung devices */
@media screen and (color-gamut: p3) {
  :root {
    --background: #0a0a0a;     
    --foreground: #ededed;     
    --greenPantano: #71AA1D;
    --border-color: rgba(22, 22, 22, 1);
  }
}

/* Consistent border styling */
.experience-card {
  border-color: var(--border-color, #161616);
  -webkit-border-color: var(--border-color, #161616);
  -moz-border-color: var(--border-color, #161616);
}

/* Custom text colors */
.text-greenPantano {
  color: var(--greenPantano) !important;
}

/* Ensure shadows are applied */
.text-shadow-extern {
  text-shadow: var(--externShadow);
}

.text-shadow-extern2 {
  text-shadow: var(--externShadow2);
}
